In [2]:
import numpy as np
import pandas as pd

import sys
sys.path.append('/home/wanghao/Python/Cmodule')
import read_grapes_sat as rgs

In [3]:
col_names = ['sid','cid','Lat','Lon','Alti',
             'Year','Mon','Day','Hour','Minute',
             'Weigh_Factor','Err_code','Corr_count','Prs_count','Rhu_count',
             'V12001_040','Time_interval_s','Win_s_factor','Win_d_factor','Pre_Factor',
             'Win_s_sensi','Win_d_inclin','Pre_sensor_Corr',
             'Prs','Rhu','Tem','Win_s','Win_d','Pre',
             'PM10_Densty','PM2p5_Densty','PM1_Densty']
robsmissing = -888888.0

filename = './data/CAWN_CHN_PMM_2021031500_g_0300_0300.dat'

# 1、缺测值处理

In [4]:
# method 1
df1 = pd.read_csv(filename,sep='\s+',names=col_names)
df1 = df1.replace([999998.0,999999.0], np.nan)

# method 2
df2 = pd.read_csv(filename,sep='\s+',names=col_names,na_values=[999998.0,999999.0])
df2.head()

,sid,cid,Lat,Lon,Alti,Year,Mon,Day,Hour,Minute,...,Pre_sensor_Corr,Prs,Rhu,Tem,Win_s,Win_d,Pre,PM10_Densty,PM2p5_Densty,PM1_Densty
0,57381,57381.0,31.62,113.33,106.5,2021.0,3.0,14.0,22.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.70,NaN
1,58657,58657.0,NaN,NaN,NaN,2021.0,3.0,14.0,22.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.78,NaN
2,58755,58755.0,27.50,123.38,120.2,2021.0,3.0,14.0,22.0,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.18,NaN
3,58657,58657.0,NaN,NaN,NaN,2021.0,3.0,14.0,22.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.62,NaN
4,58755,58755.0,27.50,123.38,120.2,2021.0,3.0,14.0,22.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.91,NaN

# 2、pandas中loc和iloc
- loc是location的意思，和iloc中i的意思是指integer，所以它只接受整数作为参数

In [6]:
df_tmp = df2.loc[:,'PM2p5_Densty']
df_tmp.head()

0    70.70
1    39.78
2    29.18
3    48.62
4    29.91
Name: PM2p5_Densty, dtype: float64

In [7]:
df_tmp = df2.iloc[:,-2]
df_tmp.head()

0    70.70
1    39.78
2    29.18
3    48.62
4    29.91
Name: PM2p5_Densty, dtype: float64

# 3、选取所需范围的值
--- 多条件筛选的时候，必须加括号'()'

In [5]:
sel_df = df1[(df1['Lat']>20.0) & (df1['Lat']<40.0) & (df1['Lon']>102.0) & (df1['Lon']<135.0)]
sel_df

,sid,cid,Lat,Lon,Alti,Year,Mon,Day,Hour,Minute,...,Pre_sensor_Corr,Prs,Rhu,Tem,Win_s,Win_d,Pre,PM10_Densty,PM2p5_Densty,PM1_Densty
0,57381,57381.0,31.62,113.33,106.5,2021.0,3.0,14.0,22.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.70,NaN
2,58755,58755.0,27.50,123.38,120.2,2021.0,3.0,14.0,22.0,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.18,NaN
4,58755,58755.0,27.50,123.38,120.2,2021.0,3.0,14.0,22.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.91,NaN
5,58755,58755.0,27.50,123.38,120.2,2021.0,3.0,14.0,22.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.28,NaN
6,58755,58755.0,27.50,123.38,120.2,2021.0,3.0,14.0,22.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.73,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12583,58451,58451.0,30.83,120.93,2.6,2021.0,3.0,15.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.1
12584,58451,58451.0,30.83,120.93,2.6,2021.0,3.0,15.0,2.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.9
12587,58456,58456.0,30.63,120.52,6.0,2021.0,3.0,15.0,2.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.4,35.20,28.7
12589,58458,58458.0,30.53,120.90,4.8,2021.0,3.0,15.0,2.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.2,25.50,21.4
12591,58451,58451.0,30.83,120.93,2.6,2021.0,3.0,15.0,2.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.8

# 4、保存hdf5文件

In [12]:
sel_df.to_hdf('sel_df.h5', key='data')
pd.read_hdf('./sel_df.h5')
sel_df

,sid,cid,Lat,Lon,Alti,Year,Mon,Day,Hour,Minute,...,Pre_sensor_Corr,Prs,Rhu,Tem,Win_s,Win_d,Pre,PM10_Densty,PM2p5_Densty,PM1_Densty
0,57381,57381.0,31.62,113.33,106.5,2021.0,3.0,14.0,22.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.70,NaN
2,58755,58755.0,27.50,123.38,120.2,2021.0,3.0,14.0,22.0,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.18,NaN
4,58755,58755.0,27.50,123.38,120.2,2021.0,3.0,14.0,22.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.91,NaN
5,58755,58755.0,27.50,123.38,120.2,2021.0,3.0,14.0,22.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.28,NaN
6,58755,58755.0,27.50,123.38,120.2,2021.0,3.0,14.0,22.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.73,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12583,58451,58451.0,30.83,120.93,2.6,2021.0,3.0,15.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.1
12584,58451,58451.0,30.83,120.93,2.6,2021.0,3.0,15.0,2.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.9
12587,58456,58456.0,30.63,120.52,6.0,2021.0,3.0,15.0,2.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.4,35.20,28.7
12589,58458,58458.0,30.53,120.90,4.8,2021.0,3.0,15.0,2.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.2,25.50,21.4
12591,58451,58451.0,30.83,120.93,2.6,2021.0,3.0,15.0,2.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.8

# 4、pandas中寻找重复series

In [7]:
col_names = ['line','pos','lat','lon','obtb','bmotb','bmombiastb','bmobiastb','surfheight','surftype','effecfrac']

inno_file = './data/2019060109/innotbinno_fy3damb201906010900.dat'
inno_scatt_file  = './data/2019060109/innotbinno_fy3damb201906010900.dat_scatt'
inno_direct_file = './data/2019060109/innotbinno_fy3damb201906010900.dat_direct'

df = rgs.ReadInnoTB(inno_file, [i for i in col_names if i != 'effecfrac'])
df_scatt = rgs.ReadInnoTB(inno_scatt_file, col_names)
df_direct = rgs.ReadInnoTB(inno_direct_file, col_names)

print(df.info())
print(df_scatt.info())
print(df_direct.info())

current Function [ReadInnoTB] run time is 0.08 seconds
current Function [ReadInnoTB] run time is 0.08 seconds
current Function [ReadInnoTB] run time is 0.06 seconds
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 608 entries, 0 to 607
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ichan       608 non-null    int64
 1   line        608 non-null    int64
 2   pos         608 non-null    int64
 3   lat         608 non-null    float64
 4   lon         608 non-null    float64
 5   obtb        608 non-null    float64
 6   bmombiastb  608 non-null    float64
 7   surfheight  608 non-null    float64
 8   surftype    608 non-null    float64
 9   ombtb       608 non-null    float64
 10  biastb      608 non-null    float64
 11  ombmbiastb  608 non-null    float64
 12  xbtb        608 non-null    float64
dtypes: float64(10), int64(3)
memory usage: 61.9 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2955 entries, 0 to 2954
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ichan       2955 non-null   int64
 1   line        2955 non-null   int64
 2   pos         2955 non-null   int64
 3   lat         2955 non-null   float64
 4   lon         2955 non-null   float64
 5   obtb        2955 non-null   float64
 6   bmombiastb  2955 non-null   float64
 7   surfheight  2955 non-null   float64
 8   surftype    2955 non-null   float64
 9   effecfrac   2955 non-null   float64
 10  ombtb       2955 non-null   float64
 11  biastb      2955 non-null   float64
 12  ombmbiastb  2955 non-null   float64
 13  xbtb        2955 non-null   float64
dtypes: float64(11), int64(3)
memory usage: 323.3 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2955 entries, 0 to 2954
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ichan       2955 non-null   int64
 1   line        2955 non-null   int64
 2   pos         2955 non-null   int64
 3   lat         2955 non-null   float64
 4   lon         2955 non-null   float64
 5   obtb        2955 non-null   float64
 6   bmombiastb  2955 non-null   float64
 7   surfheight  2955 non-null   float64
 8   surftype    2955 non-null   float64
 9   effecfrac   2955 non-null   float64
 10  ombtb       2955 non-null   float64
 11  biastb      2955 non-null   float64
 12  ombmbiastb  2955 non-null   float64
 13  xbtb        2955 non-null   float64
dtypes: float64(11), int64(3)
memory usage: 323.3 KB
None

In [6]:
# df_direct_sel = df_direct.drop('effecfrac',axis=1)

data1= pd.concat([df, df_direct_sel], axis=0)
result1 = result.drop_duplicates(subset=['ichan','line','pos','lat','lon','obtb'], keep='first')
result1

NameError: name 'df' is not defined

In [ ]:
data1 = result[result.duplicated(subset=['ichan','line','pos','lat','lon','obtb'], keep='first')]
data1

# pandas合并

In [5]:
df1 = pd.DataFrame({'A':['A1','A2'],'B':['B1','B2']})
df2 = pd.DataFrame({'A':['A3','A4'],'B':['B3','B4']})
df1
df2
print(pd.concat([df1,df2]))

    A   B
0  A1  B1
1  A2  B2
0  A3  B3
1  A4  B4